.row
  %hr
  .large-12.columns
    .small-7.columns
      %h4.header Desk.com Dashboard for #{API::Client.subdomain}
    .small-2.columns
      %label.inline(for="right-label") Current View:
    .small-3.columns
      %select(ng-model="view" ng-options="view.id as view.label for view in views")
  %hr
.row
  .small-7.columns
.row(ng-switch on="view")
  .large-12.columns(ng-switch-when="manage_labels")
    %div(ng-include="'/templates/label_list'")
  .large-12.columns(ng-switch-when="manage_cases")
    %div(ng-include="'/templates/case_list'")
