.row
  .large-12.columns
    %h1 Desk-Quiz
    %h3.subheader
      Welcome to the Cases Dashboard
    %hr
.row
  Case Count: {{cases.total_entries}}
.row
  .large-8.columns
    %table
      %thead
        %th Title
        %th
      %tbody
        %tr(ng-repeat="case in cases._embedded.entries")
          %td {{case.subject}}
          %td {{case.status | uppercase}}
          %td {{case.priority}}
          %td {{case.custom_fields.level | uppercase}}
          %td {{case.first_opened_at | date: 'short'}}
          %td
            %a.button.tiny.alert Tag this case
  .large-4.columns
    %ul
      %li(ng-repeat="label in labels._embedded.entries")
        {{label.name}}