.row
  .large-12.columns
    %h4.header
      Case Management Dashboard &gt;&gt; Logged into #{API::Client.subdomain}
    %hr
.row
  .small-2.columns
    %label.inline(for="right-label") Select a View:
  .small-3.columns
    %select(ng-model="view" ng-options="view.id as view.label for view in views")
  .small-7.columns
.row(ng-switch on="view")
  .large-12.columns(ng-switch-when="manage_labels")
    %div(ng-include="'/templates/label_list'")
  .large-12.columns(ng-switch-when="manage_cases")
    %div(ng-include="'/templates/case_list'")
